# Titulo

## Titulo 2

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

In [1]:
print('Hola Mundo')

Hola Mundo

In [4]:
nombre = 'Gorky'
nombre

'Gorky'

In [5]:
edad = 22
edad

22

In [6]:
sueldo = 1.02344
sueldo

1.02344

In [10]:
# Comentario de python
edad_str = '22'
sumar = int(edad_str) + edad
sumar

44

In [15]:
type(nombre)

str

In [13]:
type(edad_str)

str

In [14]:
type(sueldo)

float

In [16]:
"""
adsfasdfasdfasdfasdfasdfasfasdfasdfasdf
"""

'\nadsfasdfasdfasdfasdfasdfasfasdfasdfasdf\n'

In [17]:
parrafo = """
Este es un parrafo en python
"""

In [18]:
parrafo

'\nEste es un parrafo en python\n'

In [19]:
nombre_completo = 'Gorky Andrés Muñoz Galván'

In [20]:
nombre_completo.split(' ')

['Gorky', 'Andrés', 'Muñoz', 'Galván']

In [22]:
"Gorky".isalpha()

True

In [25]:
print(f"Me gustan los tacos a mi {nombre_completo}")

Me gustan los tacos a mi Gorky Andrés Muñoz Galván